
.toggle {
    margin-bottom: 32px;
  }
  .switch-box {
    display: block;
    width: 49px;
    height: 24px;
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 32px;
    position: relative;
  }
  .switch-slider {
    transition: all 0.6s;
    display: block;
    position: relative;
    top: -16.5px;
    left: 25px;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: #F4F4F4;
  }
  .box-sw {
    display: block;
    width: 49px;
    height: 24px;
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 32px;
    position: absolute;
    top: -1px;
    transition: all 0.6s;
  }
  .switch__input {
    appearance: none;
  }
  .switch__input:checked ~ .box-sw {
    background-color: #7A5CFA;
  }
  .switch__input:checked ~ .switch-slider {
    background-color: #FFFFFF;
    transform: translateX(-21px);
  }
  .on {
    
    display: block;
    position: absolute;
    top: 2px;
    left: 55px;
    color: #666;
    font-family: Noto Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .right {
    display: none;
  }
  .switch__input:checked ~ .on {
    display: none;
  }
  .switch__input:checked ~ .right {
    display: block;
  }
  