* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  width: 100%;

}

.foodCard {
  display: flex;
  flex-direction: column;
  justify-content: start;
}


.InputBox {
  display: flex;
  justify-content: space-evenly;
  margin: 30px;


}